<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="fileTarget" xsi:type="File"
            layout="[${level:uppercase=true}] - ${time} - ${logger}:${newline}${message}${newline}"
            fileName="/storage/emulated/0/OapSync/${shortdate}.log"
            archiveEvery="Day"
            maxArchiveFiles="3" />
    <target name="debugger" xsi:type="Debugger"
            layout="[${level:uppercase=true}] - ${time}: ${newline}${logger} - ${message}${newline}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>

<!-- https://github.com/nlog/NLog/wiki/Layout-Renderers ${stacktrace} 

Each log message has associated log level, which identifies how important/detailed the message is. NLog can route log messages based primarily on their logger name and log level.

NLog supports the following log levels:

    Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
    Debug - debugging information, less detailed than trace, typically not enabled in production environment.
    Info - information messages, which are normally enabled in production environment
    Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
    Error - error messages - most of the time these are Exceptions
    Fatal - very serious errors!
    
-->